*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    margin: 0;
}
#particles-js {
    /* background: black; */
        background-image: linear-gradient(to right, #5a6c87, #45889f, #3fa3a1, #6cb98f, #b1c979);
    height: 100vh;
}
.heading {
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.heading h1 {
    color: black;
    font-size: 70px;
}
